
html {
  font-size: 16px;
  background: url(../img/bg-bubble.png) repeat-y center top;
}

body {
  background: rgba(ff,fe,e7,0.3);
  font-family: 'M PLUS Rounded 1c', 'Josefin Sans', sans-serif;
  color: #4d4d4d;
}

header {
  border-top: solid 16px rgba(139,139,143,0.6);
  margin: auto 0;
  text-align: center;
}


h1 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2.5rem;
  margin-top: 30px;
  padding-bottom: 20px;
}

h2 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.5rem;
  line-height: 1.4em;
  margin: 50px 0 10px;
  text-align: center;
}

header > p {
  font-size: 0.8rem;
  padding-top: 20px;
  display: inline-block;
  border-top: dashed 1px;
}

a {
  text-decoration: none;
  color: #4d4d4d;
}


 /* main contents */

  .wrapper {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 2%;
  }
  
  .grid {
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin-top: 3%;
    margin-bottom: 64px;
  }

  .item img {
  border: solid 5px #d8d8d8;
  width: 100%;
  transition-duration: .3s;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  transition: .3s;
}

.item img:hover {
  border:  solid 5px #d095e2;
  box-shadow: 0 0 2px rgba(0,0,0,0.1);
}

.caption {
  font-size: 0.77rem;
  margin: 8px 16px;
  padding-top: 10px;
	position: relative;
}

.caption::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 2px;
  background-color: #6bffb5;
}

/* item page */
.discription {
  font-size: 0.86rem;
  text-align: center;
}

.work {
  padding: 10px 0 50px;
}

.work img {
  width: 800px;
  display: block;
  margin: auto;
  border: 1px solid #d8d8d8;
  background: #ffffff;
}

.work-dm,
.work-fy {
  padding: 30px 0 50px;
}

.work-dm img {
  width: 400px;
  display: block;
  margin: auto;
  border: 1px solid #d8d8d8;
  background: #ffffff;
}

.work-fy img {
  width: 600px;
  display: block;
  margin: auto;
  border: 1px solid #d8d8d8;
  background: #ffffff;
}

.page {
  text-align: center;
  margin: 20px 0;
}
.number {
  display: inline-block;
  width: 240px;
  height: 32px;
  color: #4d4d4d;
  font-size: 0.86rem;
  line-height: 2.2em;
  background: rgba(186, 186, 192, 0.6);
  border-radius: 3px;
  margin: 0 6px;
}

.top-btn {
  text-align: center;
}

.top-btn a {
  display: inline-block;
  color: #4d4d4d;
  font-size: 0.86rem;
  line-height: 2.2em;
  background: rgba(186, 186, 192, 0.6);
  border-radius: 3px;
  padding: 8px 10px;
  margin-bottom: 50px;
  border-radius: 3%;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

footer {
  background: rgba(139,139,143,0.6);
  color: #efefef;
  padding: 30px 0;
  text-align: center;
}

